@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Figtree", sans-serif;
}

body{
  height: 90vh;
  background: linear-gradient(to bottom, rgb(8, 8, 8), black 10%);
  background-repeat: no-repeat;
  background-size: cover;
}